<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <title>Prefrecto Robot!!!!</title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
<div class="">
    <div class="wrapper" style="text-align: center;">
        <div class="video">
            <h3 class="">Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}" height="427px" width="582px">
        </div>
        <div class="camera-controls">
            <p>CAMARA</p>
            <button id="cUp">arriba</button>
            <button id="cDown">abajo</button>
            <button id="cLeft">izquierda</button>
            <button id="cRight">derecha</button>
            <br>
            <br>
            <button id="imgCapture">CAPTURAR</button>
        </div>
        <div class="movement-controls">
            <p>MOVIMIENTO</p>
            <button id="mUp">Adelante</button>
            <button id="mDown">Atras</button>
            <button id="mLeft">Girar izquierda</button>
            <button id="mRight">Girar Derecha</button>
        </div>
    	<div>	
            <p>TASKS</p>
            <button id="tRoam">ROAM</button>
            <button id="tRec">REC</button>
            <button id="tNone">NONE</button>
	    </div>
    </div>

    <table>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Salon</th>
            <th scope="col">Maestro</th>
            <th scope="col">Tiempo</th>
        </tr>
        <tbody id="tbody">
        {% for event in events %}
            <tr>
                <td>{{ event['eventoid'] }}</td>
                <td>{{ event['Salon'] }}</td>
                <td>{{ event['Nombre'] }}</td>
                <td>{{ event['Tiempo'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>

<script type="module">
    import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";
    const socket = io();
    
    const cUp = document.querySelector("#cUp");
    const cDown = document.querySelector("#cDown");

    const cLeft = document.querySelector("#cLeft");
    const cRight = document.querySelector("#cRight");

    const mUp = document.querySelector("#mUp");
    const mDown = document.querySelector("#mDown");

    const mLeft = document.querySelector("#mLeft");
    const mRight = document.querySelector("#mRight");


    const tRoam = document.querySelector("#tRoam");
    const tRec = document.querySelector("#tRec");

    const imgCapture = document.querySelector("#imgCapture");

    imgCapture.addEventListener('click', function () {
        socket.emit('capture');
    })
    cUp.addEventListener('click', function () {
        console.log("+y");
        socket.emit("servo", "+y");
    })
    cDown.addEventListener('click', function () {
        console.log("-y");
        socket.emit("servo", "-y");
    })
    cLeft.addEventListener('click', function () {
        console.log("+x");
        socket.emit("servo", "+x");
    })
    cRight.addEventListener('click', function () {
        console.log("-x");
        socket.emit("servo", "-x");
    })

    mUp.addEventListener('click', function () {
        console.log("forward");
        socket.emit("motor", "f");
    })
    mDown.addEventListener('click', function () {
        console.log("forward");
        socket.emit("motor", "b");
    })
    mLeft.addEventListener('click', function () {
        console.log("left");
        socket.emit("motor", "l");
    })
    mRight.addEventListener('click', function () {
        console.log("right");
        socket.emit("motor", "r");
    })
    tRoam.addEventListener('click', function () {
        console.log("task: roam");
        socket.emit("set_task", "roam");
    })
    tRec.addEventListener('click', function () {
        console.log("task: recognize");
        socket.emit("set_task", "recognize");
    })
    tNone.addEventListener('click', function () {
        console.log("task: none");
        socket.emit("set_task", "none");
    })

    socket.on("event", () => {
        console.log("AAA")
    });
</script>

</html>
